html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
