{
  "env":{
    "node": {
      "presets": [["env", {
        "modules": false,
        "targets": {
          "node": "current" 
        }
      }]],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import"
      ]
    },
    "web": {
      "presets": [
        ["env", {
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ],
        ["@vue/babel-preset-jsx"]
      ],
      
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "comments":false
}