{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "spaced-comment": ["error", "always"],
    "lines-around-comment": ["error", { "beforeBlockComment": true }] // 强制注释周围有空行
  }
}