.idea/
.vscode
.lighthouseci

node_modules/
logs/
coverage/
run/

.DS_Store
*.swp
*.lock
!.autod.conf.js
npm-debug.log
debug.log
*.Identifier

app/view
public/
app/**/*.js
test/**/*.js
config/**/*.js
lib/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
config/manifest.json

app.js
agent.js
