.idea/
.vscode
node_modules/
logs/
coverage/
run/

npm-debug.log
.DS_Store
*.swp
*.lock
!.autod.conf.js
debug.log

app/view
app/**/*.js
test/**/*.js
config/**/*.js
lib/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
public/

app.js
agent.js
