<!DOCTYPE html>
<html lang="en">
<head>
  <title>Egg + Vue</title>
  <meta name="keywords">
  <meta name="description">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <!-- icontfont -->
  <link rel="preload"
  href="http://at.alicdn.com/t/font_2338836_1bplu1ppnad.js"
  as="script"
  onload="var script = document.createElement('script'); script.src = this.href; document.body.appendChild(script);">
</head>
<body>
  <div id="app"><!--vue-ssr-outlet--></div>
</body>
</html>
